@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

:root {
  /*** COLORS ***/
  --primary: #f6e7e7;
  --secondary: #d1e0d4;
  --tertiary: #35393c;

  /*** TYPE ***/
  --sans: "Poppins", sans-serif;
  --serif: "Cormorant", serif;

  /*** SIZES ***/
  --landing: 126px;
  --h1: 36px;
  --body: 18px;
  --label: 14px;
}

body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
